<div class="heading">
  <img class="hand-img" src="../../../assets/hand.png" alt="Hand">
  <span class="about-me-heading">ОБО МНЕ</span>
</div>

<div class="video">
  <video controls>
    <source src="https://easybulgarian.blob.core.windows.net/videos/about.MOV?sp=r&st=2023-08-26T10:24:50Z&se=2023-08-26T18:24:50Z&spr=https&sv=2022-11-02&sr=b&sig=Y9tYCq1pV0YReQtUnN7fDI1fa%2FL%2FgOHOVLkB6kQWyvg%3D" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</div>

<div class="middle-blur-container">
  <div class="middle-blur"></div>
  <p class="why-easy-bulgarian-heading">Почему Easy Bulgarian?</p>
  <div class="reasons-list">
    <ul>
      <li>Активное общение</li>
      <li>Интерактивные уроки</li>
      <li>Юмор и развлечение</li>
      <li>Персонализированный подход</li>
      <li>Поддержка и мотивация</li>
    </ul>
  </div>
</div>

<div class="bottom-blur-container">
  <p class="bulgarian-easy-quote">Изучаването на български език с @easybulgarian е наистина easy!</p>

  <!-- <div class="want-learn-block">
    <button class="want-learn-button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      ХОЧУ УЧИТЬ БОЛГАРСКИЙ
    </button>
  </div> -->

  <nav class="nav">
    <button class="nav-button" routerLink="/online-courses" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      ОНЛАЙН-КУРСЫ
    </button>
    <button class="nav-button" routerLink="/speaking-clubs" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      РАЗГОВОРНЫЙ КЛУБ
    </button>
    <button class="nav-button" routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      ГРУППЫ
    </button>
  </nav>
</div>
