<div class="header-container">
  <div class="top-blur"></div>

  <div class="logo">
    <img class="first-logo" src="../../../assets/easy_bulgarian_logo_1.png" alt="Easy Bulgarian logo">
    <img class="second-logo" src="../../../assets/easy_bulgarian_logo_2.png" alt="Easy Bulgarian logo">
  </div>

  <nav class="nav">
    <button class="nav-button" routerLink="/about-me" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      ОБО МНЕ
    </button>
    <button class="nav-button" routerLink="/online-courses" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      ОНЛАЙН-КУРСЫ
    </button>
    <button class="nav-button" routerLink="/speaking-clubs" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      РАЗГОВОРНЫЙ КЛУБ
    </button>
    <button class="nav-button" routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page" mat-raised-button color="primary">
      ГРУППЫ
    </button>
  </nav>
</div>
