<div class="heading">
  <img class="hand-img" src="../../../assets/hand.png" alt="Hand">
  <span class="online-courses">ОНЛАЙН-КУРСЫ</span>
</div>

<div class="video">
  <video controls>
    <source src="https://easybulgarian.blob.core.windows.net/videos/online-cources.MOV?sp=r&st=2023-08-26T10:23:28Z&se=2023-08-26T18:23:28Z&spr=https&sv=2022-11-02&sr=b&sig=9fNR9EL4rFpidJcmrNpgiJj9IulGaFIc2BiIdZbL9vg%3D" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</div>

<div class="lessons">
  <div class="lesson" *ngFor="let lesson of lessons; index as i">
    <label class="lesson-name">Урок {{ i + 1 }}. {{ lesson }}</label>
    <mat-radio-group
      [(ngModel)]="chosenLessons[i]"
      [color]="'warn'">
      <mat-radio-button [value]=true>
        С обратной связью
      </mat-radio-button>
      <mat-radio-button [value]=false>
        Без обратной связи
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-raised-button color="accent" (click)="resetChoise()">
    Сбросить
  </button>
  <button mat-raised-button color="accent" (click)="openModal()" [disabled]="this.chosenLessons.length === 0">
    Оплатить
  </button>
</div>
